{#
/**
 * @file
 * busino-HTML + CSS template for Busino Blog Posts Section
 *
 * See busino-HTML + CSS template for Busino Blog Posts Section.wingsuit.yaml for documentation.
 */
#}

<div class = "section section-p">
  <div class="container">
    <div class="features flex flex-row flex-wrap justify-between -mb-10 lg:-mb-0">
      <div class="features_col w-1/2 md:w-3/12 mb-10 lg:mb-0">
        <div class="features_box flex justify-center items-center flex-col">
          <div class="features_icon relative">
            <img class="mt-6" src="/../images/icon-1.png" alt="Icon"> 
            <span class="features_icon__shape absolute top-0 -left-5 h-20 w-20 rounded-full bg-teal-100 -z-50"></span>
          </div> 
          <div class="features_box__content text-center mt-9">
            <h4 class="features_box__title text-xl lg:text-2xl font-metro font-medium text-primary mb-2">Expert Team</h4> 
            <p>Talnted People</p>
          </div>
        </div>
      </div>
      <div class="features_col w-1/2 md:w-3/12 mb-10 lg:mb-0">
        <div class="features_box flex justify-center items-center flex-col">
          <div class="features_icon relative">
            <img class="mt-6" src="/../images/icon-2.png" alt="Icon"> 
              <span class="features_icon__shape absolute top-0 -left-5 h-20 w-20 rounded-full bg-teal-100 -z-50"></span>
          </div> 
          <div class="features_box__content text-center mt-9">
            <h4 class="features_box__title text-xl lg:text-2xl font-metro font-medium text-primary mb-2">Business Plan</h4> 
            <p>Business Strategy</p>
          </div>
        </div>
      </div>
      <div class="features_col w-1/2 md:w-3/12 mb-10 lg:mb-0">
        <div class="features_box flex justify-center items-center flex-col">
          <div class="features_icon relative">
            <img class="mt-6" src="/../images/icon-3.png" alt="Icon"> 
            <span class="features_icon__shape absolute top-0 -left-5 h-20 w-20 rounded-full bg-teal-100 -z-50"></span>
          </div> 
          <div class="features_box__content text-center mt-9">
            <h4 class="features_box__title text-xl lg:text-2xl font-metro font-medium text-primary mb-2">Intime Service</h4> 
            <p>Talnted People</p>
          </div>
        </div>
      </div>
      <div class="features_col w-1/2 md:w-3/12 mb-10 lg:mb-0">
        <div class="features_box flex justify-center items-center flex-col">
          <div class="features_icon relative">
            <img class="mt-6" src="/../images/icon-4.png" alt="Icon"> 
            <span class="features_icon__shape absolute top-0 -left-5 h-20 w-20 rounded-full bg-teal-100 -z-50"></span>
          </div> 
          <div class="features_box__content text-center mt-9">
            <h4 class="features_box__title text-xl lg:text-2xl font-metro font-medium text-primary mb-2">Quick Support</h4> 
            <p>Responsible People</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>